div:hover{
    border: 8px pink;
}

div:nth-of-type(1):hover {
    background-color: red;
    color: white;
}
div:nth-of-type(2):hover {
    background-color: green;
    color: white;
}
div:nth-of-type(3):hover {
    background-color: purple;
    color: yellow;
    font-size: 2em;
}
div:nth-of-type(4):hover {
    background-color: black;
    color: white;
}
div:nth-of-type(5):hover {
    background-color: gray;
    color: white;
}

div:nth-of-type(1) > h3 {
    color: coral;
  }

  div:nth-of-type(2) > h3 {
    color: cornflowerblue
  }
  div:nth-of-type(3) > h3 {
    font-size: 20px;
  }
  
  div:nth-of-type(4) > h3 {
    font-family: monospace;
  }
  
  div:nth-of-type(5) > h3 {
    font-style: italic
  }

  div:nth-of-type(3) {
    height: 50px;
  }

  div:nth-child(odd) h3 {
    font-style: italic
  }



